@model WorkFlowDynamic.DataEntityTypes.ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datecreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datecreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numticket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_secretaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_secretaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
