@model IEnumerable<WorkFlowDynamic.DataEntityTypes.SchemeWorkFlowSet>

@{
    ViewData["Title"] = "Index";
}

<h1>Création de workFlow</h1>

<p>
    <span class="mb-2 mr-2 btn btn-success"><a style="color: white;" asp-action="Create">Créer nouveau</a></span>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchemeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="mb-2 mr-2 badge badge-alternate">@Html.DisplayFor(modelItem => item.SchemeName)</div>
                </td>
                <td>
                    <span class="mb-2 mr-2 btn btn-primary"><a style="color: white;" asp-controller="StepWorkFlows" asp-action="Create" asp-route-id="@item.Id"> Ajouter étapes </a></span> 
                    <span class="mb-2 mr-2 btn btn-secondary"><a style="color: white;" asp-action="Edit" asp-route-id="@item.Id"> Modifier </a></span> 
                    <span class="mb-2 mr-2 btn btn-dark"><a style="color: white;" asp-controller="StepWorkFlows" asp-action="Index" asp-route-id="@item.Id"> Détails </a></span> 
                    <span class="mb-2 mr-2 btn btn-danger"><a style="color: white;" asp-action="Delete" asp-route-id="@item.Id"> Supprimer </a></span>
                </td>
            </tr>
        }
</tbody>
</table>
