@model WorkFlowDynamic.DataEntityTypes.StepWorkFlowSet

@{
    ViewData["Title"] = "Index";

}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/sweetalert2/sweetalert2.min.css">

<style>
    .row_position {
        border-collapse: separate;
        border-spacing: 0 20px;
    }

    table {
        border-collapse: collapse;
    }

    th {
        background-color: white;
        Color: black;
        border: 1px solid black;
    }

    td {
        width: 150px;
        text-align: center;
        border-top: 1px solid black;
        border: 1px solid black;
        padding: 5px;
        background-color: black;
        Color: white;
    }

    .geeks {
        border-right: hidden;
    }
</style>

<h1>Workflow @ViewBag.SchemeName</h1>

<div class="card-body" style="position: -webkit-sticky; position: sticky; top: 0px;">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-inline p-2 bg-primary text-white">
                @{
                    var Activity = "Activité";
                }
                <label asp-for="@Activity" class="control-label"></label>
                <input asp-for="@Activity" type="text">
            </div>
            <div id="controllerSelected" class="d-inline p-2 bg-dark text-white">
                <label asp-for="Controller" class="control-label"></label>
                <select asp-for="Controller" asp-items="ViewBag.controleurs"></select>
            </div>
            <div id="ActionSelected" class="d-inline p-2 bg-primary text-white">
                <label asp-for="Action" class="control-label"></label>
                <select asp-for="Action" asp-items="ViewBag.services"></select>
            </div>

            <div class="form-group">
                <input type="submit" id="SaveStep" value="Enregistrer" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="card-body" style="z-index: 0;">
    <h3 class="text-center">Liste des activités du workflow</h3>
    <div class="table-responsive">
        <table class="thead-dark table table-hover">
            <tr>
                <td>
                    Nom de l'activité
                </td>
                <td>
                    Gestionnaire de Service
                </td>
                <td>
                    Service
                </td>
                <td>
                    Etapes
                </td>
                <td>
                    Nombre Occurence
                </td>
            </tr>
        </table>
        <table id="myTable" class="row_position thead-dark table table-hover">
        </table>
        @*</table>*@
    </div>
</div>
<br />
<br />
<br />
<div class="card-body box box-default">
    <div class="box-header with-border">
        <h3 class="login100-form-title  ml-1" id="idTitre">Enregistrer Modification du workflow</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" style="color: black" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><br />
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="login100-form validate-form">
            <hr />
            <div class="container-login100-form-btn ">
                <button type="button" class="btn btn-primary" id="SaveScheme">
                    Enregistrer les modifications
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<input id="RedirectToId" name="RedirectToId" type="hidden" value=@ViewBag.SchemeId />

<script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
         $(document).ready(function () {
            // Début de l'initialisation
            $(".row_position").sortable({
                delay: 150,
                stop: function () {
                    var selectedData = new Array();
                    $('.row_position>tr').each(function () {
                        selectedData.push($(this).attr("id"));
                        console.log("Line selected");
                        console.log($(this).attr("id"));
                    });
                    console.log(selectedData);
                     $.ajax({
                        url:'@Url.Action("SaveOrderStepScheme", "StepWorkFlows")',
                        type:'post',
                        data:{position:selectedData},
                        success:function(){
                            Swal.fire({
                              position: 'bottom-end',
                              icon: 'succes',
                              title: 'Changement éffectuer avec succes',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        }

                    })
                }
            });

            $("#SaveStep").prop('disabled', true);

            RechargerActivites();
            // Fin initialisation

            // Pour gerer les changements automatiques des action en fonction du controleur choisi
            $("#Controller").change(function () {
                if ($("#Controller").val() != "") {
                    $.ajax({
                        url: '@Url.Action("GetDataActionSelected", "StepWorkFlows")',
                        contentType: 'application/html;charset=utf-8',
                        data: { controllerSelected: $('#Controller').val() },
                        type: 'GET',
                        dataType: 'json',
                        success: function (result) {
                            var activityDropDown = $("#Action");
                            console.log(result)
                            $("#Action option").each(function (index, option) { option.remove() });
                            // activityDropDown.append($("<option>", { value: "", text: "Sélectionner" }));

                            $.each(result, function (index, obj) {
                                if (obj.action != null) {
                                    $("#SaveStep").prop('disabled', false);
                                    activityDropDown.append($("<option>", { value: obj.action, text: obj.description }));
                                }
                            })
                        },
                        error: function (xhr, status) {

                        }
                    })
                }
                else {
                    $("#SaveStep").prop('disabled', true);
                }
            });

            // Valider une étape choisie
            $('#SaveStep').on('click', function () {
                //Try to get tbody first with jquery children. works faster!
                var tbody = $('#myTable').children('tbody');

                //Then if no tbody just select your table
                var table = tbody.length ? tbody : $('#myTable');
                var action = $("#Action").val();
                var controller = $("#Controller").val();
                var activity = $("#Activity").val();
                var flowModel = JSON.stringify({
                    'cible': controller,
                    'service': action,
                    'activity': activity,

                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GarderActivities", "StepWorkFlows")',
                    data: flowModel,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.clear()
                        console.log('In Ajax: Result: ')
                        console.log(result)
                        table.empty()
                        $.each(result, function (index, value) {
                            table.append('<tr style="position: -webkit-sticky; position: sticky; top: 0px;" id=' + value.ordre
                                + '><td class="geeks">' + value.activity + '</td><td>' + value.detailsControleurs + '</td><td>' + value.description
                                + '</td>' + '<td>' + value.ordre + '</td><td>' + value.occurence + '</td><td>' +
                                '<button class="btn-primary btn-sm" onclick=ModifierLigne('+value.ordre+') id='+value.ordre+'>Modifier</button>  '+
                                '<button class="btn-danger btn-sm" onclick=SupprimerLigne('+value.ordre+') id='+value.ordre+'>Supprimer</button></td></tr>');
                        });
                    }
                })
            });

            // Valider le schéma
             $("#SaveScheme").on('click', function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SaveSchemeInDatabase", "StepWorkFlows")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log("Resultat save")
                        console.log(result)
                        var idScheme = $("#RedirectToId").val()
                        location.href = '@Url.Action("Index", "StepWorkFlows", new { id = "idScheme" } )'.replace("idScheme", idScheme)
                    },
                    error: function (response) {
                        console.log("Resultat Error")
                        console.log(response)
                    }
                })
            });
        });

        function RechargerActivites() {
            //Try to get tbody first with jquery children. works faster!
            var tbody = $('#myTable').children('tbody');
            //Then if no tbody just select your table
            var table = tbody.length ? tbody : $('#myTable');
            console.log("Actualisation de la page");
            $.ajax({
                type: "GET",
                url: '@Url.Action("GarderActivitiesLists", "StepWorkFlows")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.clear()
                    console.log('In Ajax: Result: ')
                    console.log(result)
                    table.empty()
                    $.each(result, function (index, value) {
                        table.append('<tr id=' + value.ordre + '><td class="geeks">' + value.activity + '</td><td>' +
                            value.detailsControleurs + '</td><td>' + value.description  + '</td>' +
                            '<td>' + value.ordre + '</td><td>' + value.occurence + '</td><td>'+
                            '<button class="btn-primary btn-sm" onclick=ModifierLigne('+value.ordre+') id='+value.ordre+'>Modifier</button>  '+
                            '<button class="btn-danger btn-sm" onclick=SupprimerLigne('+value.ordre+') id='+value.ordre+'>Supprimer</button></td></tr>');
                    });
                }
            })
        }

        function SupprimerLigne(id)
        {
            console.log("Id line: " + id)

            //Try to get tbody first with jquery children. works faster!
            var tbody = $('#myTable').children('tbody');

            //Then if no tbody just select your table
            var table = tbody.length ? tbody : $('#myTable');
            Swal.fire({
                title: 'Etes-vous sûr?',
                text: "de supprimé cette ligne",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Non, annuler!',
                confirmButtonText: 'Oui, supprime-le!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("RemoveActivities", "StepWorkFlows")',
                        data: { setpFlowsId: id },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            console.clear()
                            console.log('In Ajax: Result: ')
                            console.log(result)
                            table.empty()
                            $.each(result, function (index, value) {
                                table.append('<tr id=' + value.ordre + '><td class="geeks">' + value.activity + '</td><td>' +
                                    value.detailsControleurs + '</td><td>' + value.description  + '</td>' +
                                    '<td>' + value.ordre + '</td><td>' + value.occurence + '</td><td>'+
                                    '<button class="btn-primary btn-sm" onclick=ModifierLigne('+value.ordre+') id='+value.ordre+'>Modifier</button>  '+
                                    '<button class="btn-danger btn-sm" onclick=SupprimerLigne('+value.ordre+') id='+value.ordre+'>Supprimer</button></td></tr>');
                            });
                            Swal.fire(
                                'Supprimé!',
                                'Activité supprimée',
                                'success'
                            )
                        }
                    })

                }
            });
        }
    </script>
}





@*<div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nom de l'activité
                    </th>
                    <th>
                        Gestionnaire de Service
                    </th>
                    <th>
                        Service
                    </th>
                    <th>
                        Etapes
                    </th>
                    <th>
                        Nombre Occurence
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gestionnaire)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ordre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Occurence)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn-primary btn-sm" asp-route-id="@item.scheme_Step.Id">Modifier</a> |
                            <a asp-action="Delete" class="btn-danger btn-sm" asp-route-id="@item.scheme_Step.Id">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

